* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #1D1A39;
    --nav-color: #451952;
    --standart-padding: 1rem;
}

/*index*/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--bg-color);
    color: white;
    height: 100vh;
}

.navigation {
    background-color: var(--nav-color);
}

.navigation ul,
.navigation a {
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}

.navigation li {
    border-bottom: 1px #aaa solid;
}

.navigation a {
    display: inline-block;
    width: 100%;
    padding: var(--standart-padding) 0;

    transition: color .2s ease-in;
}

.navigation a:hover {
    color: #F39F5A;
}

.content {
    margin-top: var(--standart-padding);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    gap: .78rem;
}

img {
    max-width: 100%;
}

/*about*/

.about {
    text-align: left;
    /* padding-left: var(--standart-padding); */
}

.about header {
    display: flex;
    flex-direction: column;
    gap: var(--standart-padding);

    padding: var(--standart-padding);
}

.aboutLinks ul {
    list-style-type: none;
    padding-left: var(--standart-padding);

    display: flex;
    flex-direction: column;
    gap: .78rem;
}

.aboutLinks ul a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AE445A;
    padding: 2rem;
}

@media screen and (min-width: 79.25rem) {
    body {
        display: flex;
        flex-direction: row;
    }

    .header h1 {
        font-size: 3rem
    }

    .header p {
        font-size: 1.2rem;
    }

    .navigation {
        width: 20%;
    }

    .navigation a {
        text-align: right;
        padding-right: 1rem;

        transition: padding .2s ease-in-out;
    }

    .navigation a:hover {
        padding-right: 1.48rem;
        background-color: rgba(0 0 0 / .1);
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-around;
        align-items: center;

        padding: 0 var(--standart-padding);
    }

    img {
        height: 68vh;
        width: 100%;
    }

    /*About*/
    .about {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .aboutHeader h2 {
        font-size: 2rem;
    }

    .aboutHeader p {
        font-size: 1.18rem;
    }

    .aboutLinks {
        font-size: 1.18rem;
    }
}